<h1>Posts</h1>

<div><%= link_to 'New post', new_post_path %></div>

<div>
<% @posts.order(created_at: :desc).each do |post| %>

  <p><%= User.find_by(id: post.user_id).username %> ... <%= post.created_at.strftime('%e %B at %H:%M') %></p>
  <p><%= image_tag(post.image.thumb.url, alt: 'Image') if post.image? %>
  <p><%= post.message %></p>
  <p> ___________________________________________ </p>
  
<% end %>
</div>
